name: Deploy website
on:
  push:
    branches:
      - web_frontend
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v5
      - name: Install dependencies
        run: npm ci
      - name: Build website
        run: CI=false npm run build
      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: dist-files
          path: build
          # path: |
            # dist
            # package.json
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Get built artifacts
        uses: actions/download-artifact@v5
        with:
          name: dist-files
      - name: output content
        run: ls    
      - name: Deploy
        run: echo "Deploying..."
